@media only screen and (min-device-width : 1001px){
  #AppContainer {
    width: 30vw;
    margin: 0 auto;
    margin-top: 10em;
  }
}

@media only screen and (max-device-width : 1000px){
#AppContainer {
  width: 300px;
  margin: 0 auto;
  margin-top: 10em;
  }
}